@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&family=Redressed&family=Niconne&display=swap");
* {
  margin: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ul {
  list-style: none;
}

* ul li {
  text-decoration: none;
}

* :after, * :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 5%;
}

.main {
  height: 100Vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
}

.main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #00b3b3;
  opacity: 0.2;
  -webkit-clip-path: polygon(100% 0 0 0);
          clip-path: polygon(100% 0 0 0);
  z-index: -1;
}

.main header {
  padding: 1em;
}

.main header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main header nav .brand-logo h4 {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-family: Niconne;
  letter-spacing: 2px;
  color: white;
}

.main header nav a {
  text-decoration: none;
  width: 30%;
}

.main header nav aspan:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}

.main header nav ul {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.main header nav ul li a {
  text-decoration: none;
}

.main div {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  place-content: center;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 4em;
}

.main div .dev-name {
  font-weight: bold;
  letter-spacing: 0.3em;
  font-size: 2em;
}

.main div .dev-description {
  font-size: 1.2rem;
}

.main div .dev-description span {
  color: blue;
}

.main div .dev-description span {
  color: blue;
}

.main div .down a {
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
}

#about:active {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

footer {
  background-color: #003333;
  font-family: 'Redressed', cursive;
  padding: 4em 0px;
  color: white;
}

footer a {
  color: white;
}

footer ul {
  padding: 0;
}

footer ul li:nth-child(2):before {
  content: " ● ";
  padding: 0 10px;
}

footer ul li:nth-child(2):after {
  content: " ● ";
  padding: 0 10px;
}

footer p {
  padding: 1em 0;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

footer a h4 {
  text-transform: capitalize;
  font-size: 3rem;
  font-family: Niconne;
}

footer .contact {
  margin: auto  auto 20% auto;
}

footer .contact div {
  padding: 0.6em 0px;
}

footer .context-menu {
  padding: 3em 0px 0px;
}

footer .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 3fr;
      grid-template-columns: 2fr 4fr 3fr;
  grid-gap: 2px;
}

footer .copyright {
  padding: 1em 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social {
  width: 100%;
  padding: 0;
}

.list-style-flex {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list-style-flex li {
  list-style: none;
}

.list-style-flex li a:before {
  content: "";
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .main header nav ul {
    display: hidden;
  }
}

@media only screen and (max-width: 850px) {
  footer .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    overflow: hidden;
  }
  footer .about {
    visibility: collapse;
  }
}

@media only screen and (max-width: 650px) {
  footer .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .contact {
    padding: 0px 0 3em 0;
    margin: 0;
  }
  footer .about {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */