@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&family=Redressed&family=Niconne&display=swap');

*{
    margin:0;
    font-family: "Poppins";
    scroll-behavior: smooth;
    box-sizing: border-box;

    ul{
        list-style: none;

        li{
            text-decoration: none;
        }
    }

    :after,:before{
        box-sizing: border-box;
    }

}

.container{
    margin:0 5%;
}

.main{
    // background: url("https://images.unsplash.com/photo-1514064019862-23e2a332a6a6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=916&q=80");
    height: 100Vh;
    display: grid;
    grid-template-rows: 1fr 4fr;

    &:after{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: darken(aqua,15%);
        opacity:0.2;
        clip-path: polygon(100% 0 0 0);
        z-index: -1;
    }

    
   
    header{ 
        padding:1em;
       nav{
        display: flex;

        .brand-logo{
            h4{
                text-transform: capitalize;
                font-size: 1.6rem;
                font-family: Niconne;
                letter-spacing:2px;
                color:white;
            }
            
        }

        a{
            text-decoration: none;
            width:30%
        }
        aspan:before{
            content:"";
            position: absolute;
            width:20px;
            height: 20px;
        }
        
        ul{
            width:60%;
            display: flex;
            justify-content: center;
            justify-content:space-between ;
            li{
                a{
                    text-decoration: none;
                }
               
            }
            list-style: none;    
        }
        
       }

    }

    div{
        display: grid;
        width:100%;
        height:100%;
        place-content:center;
        text-align: center;
        letter-spacing: 0.1em;
        line-height: 4em;
        
        .dev-name{
            font-weight:bold;
            letter-spacing: 0.3em;
            font-size: 2em;
        }

        .dev-description{
            font-size:1.2rem;
            span{

                color:blue;
            }

            span{
                color:blue;
            }
        }

        .down{
            a{
                text-decoration: none;
                font-weight: bold;
                font-size: 2em;
            }
        }
    } 
}






#about:active{
    
    transition: all 2s ease;
}

.about{
    
}

footer{
    background-color: darken(aqua, 40);
    font-family: 'Redressed', cursive;
    padding: 4em 0px;
    color: white;
    a{
        color: white;
    }

    ul{
        padding: 0;
        li:nth-child(2):before {
            content: " ● ";
            padding:0 10px;
            
        }
        li:nth-child(2):after {
            content: " ● ";
            padding:0 10px;
            
          }
        
    }
    p{
        padding: 1em 0;
        font-size: 14px;
    }
    a{
        text-decoration:none;
        h4{
            text-transform: capitalize;
            font-size: 3rem;
            font-family: Niconne;
        }
    }   

    .contact{
        margin:auto  auto 20% auto;
        div{
            padding: 0.6em 0px;
        }
    }
    .context-menu{
        padding: 3em 0px 0px;
    }

    .grid{
        display:grid;
        grid-template-columns: 2fr 4fr 3fr;
        grid-gap: 2px;
    }
    .copyright{
        padding:1em 0;
    }
    
}


.flex{
    display:flex;
}


.footer-social {
    width: 100%;
    padding:0; 
}

.list-style-flex{
    width:100%;
    justify-content: space-around;
    li{
        list-style: none;

        a:before{ 
            content: "";
            transition: .2s;
            position: absolute;
            top: calc(100% - 1px);
            left: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            transform: translateX(-101%);
        }
    
    }
}

.flex-row{
    display: flex;
    flex-direction: row;
}

    


@media only screen and (max-width:600px){
    .main{
        header{
            nav{
                ul{
                    display: hidden;
                }
            }
        }
    }
}

@media only screen and (max-width:850px){
    footer{
        .grid{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            overflow: hidden;
        }
        
        .about{
            visibility: collapse;
        }
    }
}

@media only screen and (max-width:650px){
    footer{
        .grid{
           display: flex;
           flex-direction: column-reverse;
        }
        .contact{
            padding: 0px 0 3em 0;
            margin:0;
        }
        
        .about{
            display: none;
        }
    }
}

